<!DOCTYPE html>
<html lang="en">
<head>
    {% load render_bundle from webpack_loader %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geohosting</title>
    <link rel="icon" href="/static/default-favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Avenir:wght@400;700&display=swap" rel="stylesheet">

    <script>
        // TODO : we need to fetch stripe key or init the stripe in the server
        const stripePublishableKey = "{{ STRIPE_PUBLISHABLE_KEY }}";
    </script>
</head>
<body>
    <div id="root"></div>
    {% render_bundle 'App' %}
</body>
</html>
