<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Products</title>
    <link rel="stylesheet" href="/static/style_guidelines.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="product_tabs.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/geohosting/js/util.js"></script>
</head>

<body>

    {% include "navbar.html" %}

    {% block content %}
    <div class="background-container" id="screenBody">
        <!-- Left background image -->
        <div class="background-left"></div>
        <!-- Right background image -->
        <div class="background-right"></div>
        <script>
            function parseHTML(description) {
                const parser = new DOMParser();
                return parser.parseFromString(description, 'text/html');
            }

            function getDescriptionByHeader(doc, header) {
                const paragraphs = doc.querySelectorAll('p');
                let captureText = false;
                let description = '';
                paragraphs.forEach(p => {
                    if (p.querySelector('strong') && p.querySelector('strong').textContent.trim() === header) {
                        captureText = true;
                    } else if (captureText && p.querySelector('strong')) {
                        captureText = false;
                    } else if (captureText) {
                        description += p.textContent + ' ';
                    }
                });
                return description.trim() || 'No description available';
            }

            function trimDescription(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'short description');
            }

            function getOverviewDescription(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview description');
            }

            function getOverviewDescriptionHeader(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview header');
            }

            function getOverviewContinuation(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview continuation');
            }

            function getOverviewContinuationHeader(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'overview continuation header');
            }

            function getWhatDoesItDo(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'what does it do');
            }

            function getWhoIsItFor(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'who is it for');
            }

            function getHowDoesItWork(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'how does it work');
            }

            function getOpenPlatform(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'open platform');
            }

            function getGithubLink(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'github link');
            }

            function getSupportLink(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'support link');
            }

            function getSupportDescription(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'support description');
            }

            function getProjectPartner(description) {
                const doc = parseHTML(description);
                return getDescriptionByHeader(doc, 'project partner');
            }
            </script>
        <!-- Content -->
        <div class="content">
            <div
             class="">
                <img src="/static/images/geohosting_main_logo.png"  alt="Logo" class="geohosting-logo">

                  <div class="geohosting-heading text-main">Welcome to a better GIS platform where privacy and freedom comes first.</div>

                 <div class="products-container coming-soon-container">

                    {% for item in products %}

                    {% if item.available %}
                    <div class="product">
                        <div>
                            <img src="{{ item.image.url }}" alt="Product">
                        </div>

                        <div class="lato-sans-serif-bold-24 text-main">{{ item.name }}</div>
                        <div class="description lato-sans-serif-regular-16 text-secondary">
                            <p>
                                {{ item.description }}
                            </p>
                        </div>
                        <button class="product learn-more-button" onclick="toggleProductDetails('{{ item.name }}','{{ item.image }}')">Learn more</button>
                        <div></div>

                    </div>
                    {% else %}
                    <div class="product coming-soon">
                        <div class="coming-soon-img"> <img src="/static/images/Coming_Soon_Banner.png" alt="Coming soon"></div>
                        <div>
                            <img src="{{ item.image }}" alt="Product">
                        </div>

                        <div class="lato-sans-serif-bold-24 text-main">{{ item.name }}</div>
                        <div class="description lato-sans-serif-regular-16 text-secondary">
                            <p>
                              {{ item.description }}
                            </p>
                        </div>
                        <button class="product learn-more-button" onclick="toggleProductDetails('{{ item.name }}','{{ item.image }}')">Learn more</button>
                        <div></div>
                    </div>
                    {% endif %}

                    {% endfor %}

                </div>

            </div>
        </div>

        <div id="hiddenSection" style="display: none;">

            <!-- Navbar -->
            <div class="secondary-navigation-bar" id="navbar">
                <div class="secondary-logo">
                <img src="" id="navbar-logo" alt="Logo">
                </div>
                <ul>
                <li><a href="#" id="overview-link" class="active lato-sans-serif-bold-24 text-main" onclick="loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', this)">Overview</a></li>
                <li><a href="#" id="pricing-link" class="lato-sans-serif-bold-24 text-main" onclick="loadContentAndSetActiveTab(event, 'product_pricing.html', 'pricing-content', this)">Pricing</a></li>
                </ul>
            </div>

            <div id="loading-indicator" style="display: none;">
                <div class="loader"></div>
            </div>
            <div id="hiddenSectionContent" style="display: none;">
                <div id="overview-content" style="display: none;"></div>
                <div id="integration-content" style="display: none;"></div>
                <div id="pricing-content" style="display: none;"></div>
            </div>

        </div>

        <button id="scrollToTopBtn" onclick="scrollToTop()">&#8593;</button>

            <!-- scroll to top functionality -->
            <script>
                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("scrollToTopBtn").style.display = "block";
                    } else {
                        document.getElementById("scrollToTopBtn").style.display = "none";
                    }
                }

                function scrollToTop() {
                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                }

                // make scrolling smoother
                function smoothScrollTo(element, duration) {
                    const targetPosition = element.offsetTop;
                    const startPosition = window.pageYOffset;
                    const distance = targetPosition - startPosition;
                    let startTime = null;

                    function animation(currentTime) {
                        if (startTime === null) startTime = currentTime;
                        const timeElapsed = currentTime - startTime;
                        const scrollProgress = Math.min(timeElapsed / duration, 1);
                        window.scrollTo(0, startPosition + distance * ease(scrollProgress));

                        if (timeElapsed < duration) requestAnimationFrame(animation);
                    }

                    function ease(t) {
                        return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
                    }

                    requestAnimationFrame(animation);
                }
            </script>

            <script>

                function openSourcePage() {
                    const sourceCodeLink = document.getElementById('source-code-link');
                    if (sourceCodeLink) {
                        window.open(sourceCodeLink.innerText, '_blank');
                    } else {
                        console.log('Source code link is not defined.');
                    }
                }

                    function visitSupportCenter() {
                        navigateToSupport()
                    }
            </script>



            <script>


                var backgroundContainer = document.getElementById('screenBody');

                var loadingIndicator = document.getElementById('loading-indicator');
                var hiddenSectionContent =  document.getElementById('hiddenSectionContent');


                var stockItems = JSON.parse('{{ stock_items | safe }}');
                // console.log(stockItems); // testing purposes


                function getProduct(itemArray, targetItemName) {
                    const item = itemArray.find(obj => obj.item_name === targetItemName);
                    return item ? item : undefined;
                }



                function toggleProductDetails(item_name, logoUrl) {
                    localStorage.setItem('selectedItem',item_name);
                    localStorage.setItem('logoUrl', JSON.stringify(logoUrl));
                    var hiddenSection = document.getElementById('hiddenSection');

                    if (hiddenSection.style.display === 'none') {
                        hiddenSection.style.display = 'block';
                        loadingIndicator.style.display = 'block';

                        smoothScrollTo(hiddenSection, 1000);
                        loadContentAndSetActiveTab(event, 'product_overview.html', 'overview-content', document.getElementById('overview-link'), logoUrl);


                    } else {
                        hiddenSection.style.display = 'none';
                    }
                    document.getElementById('navbar-logo').src = logoUrl;

                    var buttons = document.querySelectorAll('.learn-more-button');
                    var currentButton = event.currentTarget;
                    var isExpanded = hiddenSection.style.display !== 'none';

                    buttons.forEach(function(button) {
                        if (button === currentButton) {
                            button.textContent = isExpanded ? 'Close' : 'Learn more';
                            isExpanded?button.classList.add('active'):button.classList.remove('active')
                        } else {
                            if (isExpanded) {
                                button.classList.add('disabled');
                                button.disabled = true;
                                button.classList.remove('active');
                            } else {
                                button.classList.remove('disabled');
                                button.disabled = false;
                            }
                        }
                    });
                }






                async function setDynamicBackground(item_code) {
                    document.querySelector('.overview-image').innerHTML = '<div class="overlay"></div><div class="overlay-loader"></div>';
                    document.querySelector('.overview-image-white').innerHTML = '<div class="overlay-white"></div><div class="overlay-loader-white"></div>';

                    var main_item_name = '/static/images/Product_Images/' + localStorage.getItem('selectedItem') + '/main.png';
                    var secondary_item_name = '/static/images/Product_Images/' + localStorage.getItem('selectedItem') + '/secondary.png';
                    var overviewImage = document.querySelector('.overview-image');
                    var overviewImageWhite = document.querySelector('.overview-image-white');

                    var mainImage = new Image();
                    var secondaryImage = new Image();

                    mainImage.src = main_item_name;
                    secondaryImage.src = secondary_item_name;

                    mainImage.onload = function() {
                        overviewImage.style.backgroundImage = `url('${main_item_name}')`;
                        overviewImage.innerHTML = '';
                    };

                    secondaryImage.onload = function() {
                        overviewImageWhite.style.backgroundImage = `url('${secondary_item_name}')`;
                        overviewImageWhite.innerHTML = '';
                    };

                    mainImage.onerror = function() {
                        console.error('Failed to load image:', main_item_name);
                        // overviewImage.innerHTML = 'Failed to load image';
                    };

                    secondaryImage.onerror = function() {
                        console.error('Failed to load image:', secondary_item_name);
                        // overviewImageWhite.innerHTML = 'Failed to load image';
                    };
                }




                function setDynamicContent(product) {
                    try{
                        var dynamicParagraph = document.getElementById('dynamic-paragraph');
                        dynamicParagraph.innerHTML = getOverviewDescription(product.description);
                        var dynamicHeader = document.getElementById('dynamic-header');
                        dynamicHeader.innerHTML = insertLineBreakIfNeeded(getOverviewDescriptionHeader(product.description));

                        dynamicParagraph = document.getElementById('dynamic-paragraph-integration');
                        dynamicParagraph.innerHTML = getOverviewContinuation(product.description);
                        dynamicHeader = document.getElementById('dynamic-header-integration');

                        dynamicHeader.innerHTML = insertLineBreakIfNeeded(getOverviewContinuationHeader(product.description));

                        dynamicParagraph = document.getElementById('who-is-it-for-des');
                        dynamicParagraph.innerHTML = getWhoIsItFor(product.description);

                        dynamicParagraph = document.getElementById('what-does-it-do-des');
                        dynamicParagraph.innerHTML = getWhatDoesItDo(product.description);

                        dynamicParagraph = document.getElementById('how-does-it-work-des');
                        dynamicParagraph.innerHTML = getHowDoesItWork(product.description);

                        dynamicParagraph = document.getElementById('open-platform');
                        dynamicParagraph.innerHTML = getOpenPlatform(product.description);

                        dynamicParagraph = document.getElementById('project-partner');
                        var result = getProjectPartner(product.description);
                        // console.log('product partner?',result); // debugging purposes
                        if(result !== 'No description available'){
                            dynamicParagraph.style.display = 'block';
                            var project_partner = '/static/images/Product_Images/' + localStorage.getItem('selectedItem') + '/partner.png';
                            dynamicParagraph = document.getElementById('project-partner-image');
                            dynamicParagraph.style.backgroundImage = `url('${project_partner}')`;
                        }
                    }
                    catch(error) {
                        console.log(error);
                    }

                }


                // Function to load content and set active tab
                function loadContentAndSetActiveTab(event, url, targetId, clickedLink, logoUrl) {
                    loadingIndicator.style.display = 'block';
                    hiddenSectionContent.style.display = 'none';
                    event.preventDefault(); // Prevent default anchor behavior
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                try {

                                        hiddenSectionContent.style.display = 'block';

                                        var targetElement = document.getElementById(targetId);

                                        // Hide content of the previously active tab
                                        document.querySelectorAll('#hiddenSectionContent > div').forEach(function(content) {
                                            if (content !== targetElement) {
                                                content.style.display = 'none';
                                            }
                                        });

                                        targetElement.innerHTML = xhr.responseText;



                                        // Remove active class from all links
                                        document.querySelectorAll('.secondary-navigation-bar ul li a').forEach(function(link) {
                                            link.classList.remove('active');
                                        });

                                        // Add active class to the clicked link
                                        clickedLink.classList.add('active');

                                        const product = getProduct(stockItems, localStorage.getItem('selectedItem'));

                                        // assign dynamic values

                                        setDynamicBackground(product.name)

                                        setDynamicContent(product)

                                        if (url.includes('product_pricing')) {
                                            assignPricingCardValues(product);

                                            var dynamicValue = document.getElementById('source-code-link');
                                            dynamicValue.innerHTML = getGithubLink(product.description);

                                            dynamicValue = document.getElementById('source-code-text');
                                            dynamicValue.innerHTML = 'The source code of '+ localStorage.getItem('selectedItem')+' is is freely available on Github here:';

                                            dynamicValue = document.getElementById('support-link');
                                            dynamicValue.innerHTML = getSupportLink(product.description);

                                            var dynamicValue = document.getElementById('support-description');
                                            dynamicValue.innerHTML = getSupportDescription(product.description);
                                        }

                                        setTimeout(function() {
                                            loadingIndicator.style.display = 'none';
                                            targetElement.style.display = 'block';

                                            hiddenSectionContent.classList.remove('hidden');
                                            hiddenSectionContent.classList.add('visible');

                                            // Transition to fully visible
                                            setTimeout(function() {
                                                hiddenSectionContent.classList.add('fully-visible');
                                            }, 50);

                                            smoothScrollTo(hiddenSection, 1000);
                                        }, 1500);



                                } catch(exception){
                                    console.log(exception.message)
                                }
                            } else {
                                console.error('Error loading content:', xhr.status);
                            }
                        }
                    };
                    xhr.open('GET', url, true);
                    xhr.send();
                    smoothScrollTo(hiddenSection, 1000);
                }

            </script>


            <!-- product pricing -->
            <script>

                function formatDate(date) {
                    let d = new Date(date),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();

                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [year, month, day].join('-');
                 }


                function splitHeading(headingId){
                    const headingElement = document.getElementById(headingId);
                    const headingText = headingElement.textContent || headingElement.innerText;

                    return headingText.split(' ');
                }

                function addButtonLoader(dynamicButton){
                    var btn_text = dynamicButton.innerHTML;
                    dynamicButton.innerHTML = '<div class="btn_loader"></div>';
                    dynamicButton.style.width = '230px';
                    dynamicButton.style.height = '54px';
                    return btn_text;
                }

                function removeButtonLoader(dynamicButton, btn_text){
                    dynamicButton.innerHTML = btn_text;
                    dynamicButton.style.width = '230px';
                    dynamicButton.style.height = '54px';
                }

                function generateItemCode(word1,word2){
                    // create item code
                    var type = '';
                    if(word2 == 'Basic')
                        type = 'SMALL';
                    else if(word2 == 'Advanced')
                        type = 'MEDIUM';
                    else if(word2 == 'Gold')
                        type = 'LARGE';

                    return word1.toLowerCase() + '-' + type + '-DO';
                }

                async function checkUserProductPurchase(productId) {
                    try {
                        const response = await fetch('/api/method/geohosting.api.check_user_product_purchase', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ product_id: productId }),
                        });

                        const data = await response.json();

                        if (data.message.status === 'error') {
                            showCustomAlert(JSON.stringify(data.message.message), 'danger-alert');
                            return false;
                        } else {
                            return true;
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        showCustomAlert('An error occurred while checking the product purchase.', 'danger-alert');
                        return false;
                    }
                }

                let signInResolve;

                function openSignInModal() {
                    return new Promise((resolve, reject) => {
                        try{
                            const modal = document.getElementById('signInModal');
                            const body = document.getElementById('screenBody');
                            const message = document.getElementById('sign-in-message');
                            message.innerHTML = 'To complete the transaction, please log in to your account.';
                            modal.style.display = 'block';
                            body.classList.add('blur-background');

                            signInResolve = resolve;

                        }catch(exception){
                            console.log(exception.message)
                        }
                    });
                }

                async function createSalesOrder(headingId) {


                    const [word1, word2] = splitHeading(headingId);

                    var dynamicButton = document.getElementById('pricing-card-button-'+word2.toLowerCase())
                    var btn_text = addButtonLoader(dynamicButton)


                    await fetchUserInfo().then(async userInfo => {
                        var proceedToCheckout = true;
                        if (userInfo) {
                            const { current_user, customer_name } = userInfo;
                            const canPurchase = await checkUserProductPurchase(generateItemCode(word1, word2));


                            if (!current_user || current_user === "Guest") {
                                await openSignInModal();
                                if(!localStorage.getItem("owner") !== null){
                                    await fetchUserInfo().then(async userInfo => {
                                        if (userInfo) {
                                            const { current_user, customer_name } = userInfo;
                                            if (customer_name)
                                                proceedToCheckout = true;
                                            else {
                                                showCustomAlert('Cannot create a sales order for a non customer account.', 'danger-alert',backgroundContainer);
                                                removeButtonLoader(dynamicButton, btn_text);
                                                proceedToCheckout = false;
                                            }
                                        }
                                        const message = document.getElementById('sign-in-message');
                                        message.innerHTML = '';
                                    });
                                }
                            } else if (!customer_name) {
                                showCustomAlert('Cannot create a sales order for a non customer account.', 'danger-alert',backgroundContainer);
                                removeButtonLoader(dynamicButton, btn_text);
                                proceedToCheckout = false;
                            } else if(!canPurchase) {
                                console.log('Cannot purchase product')
                                removeButtonLoader(dynamicButton, btn_text);
                                return
                            }
                            if(proceedToCheckout) {
                                const itemCode = generateItemCode(word1, word2);


                                const currentDate = new Date();
                                const formattedDate = formatDate(currentDate);


                                console.log('customer: ' + customer_name);
                                console.log('item code: ' + itemCode);
                                console.log('formatted date:'+ formattedDate);
                                console.log('user email:'+ current_user);

                                const formData = new FormData();

                                // Construct the Sales Order data
                                const salesOrderData = {
                                    // docstatus: 0,
                                    doctype: "Sales Order",
                                    owner: current_user,
                                    title: 	"{customer_name}",
                                    order_type: "Shopping Cart",
                                    transaction_date: formattedDate,
                                    reserve_stock: 0,
                                    items: [
                                        {
                                            item_code: itemCode,
                                            qty: 1,
                                            parentfield: "items",
                                            parenttype: "Sales Order",
                                            warehouse: "All Warehouses - K", // should fetch and assign dynamically
                                            delivery_date: formattedDate
                                        }
                                    ],
                                    status: "To Deliver and Bill",
                                    delivery_status: "Not Delivered",
                                    billing_status: "Not Billed",
                                    is_internal_customer: 0,
                                    total_qty: 1,
                                    customer_name: customer_name,
                                    customer: customer_name,
                                    taxes_and_charges: "South Africa Tax - K",
                                    taxes: [
                                    {
                                        "docstatus": 0,
                                        "doctype": "Sales Taxes and Charges",
                                        "owner": current_user,
                                        "charge_type": "On Net Total",
                                        "parentfield": "taxes",
                                        "parenttype": "Sales Order",
                                        "account_head": "2604 - VAT Payable - K",
                                        "rate": 15,
                                        "description": "VAT 15%",
                                    }
                                    ],

                                };

                                // Add the Sales Order data to the form data
                                formData.append("doc", JSON.stringify(salesOrderData));
                                // formData.append("action", "Save");
                                formData.append("action", "Submit");

                                try {

                                    const result = await saveSalesOrder(formData);

                                    if (result.docs[0].name) {
                                        const salesOrderName = result.docs[0].name;
                                        gotoCart(splitHeading(headingId),salesOrderName);
                                    } else {
                                        showCustomAlert('Could not create the sales order.', 'danger-alert',backgroundContainer);
                                        removeButtonLoader(dynamicButton, btn_text);
                                    }
                                } catch (error) {
                                    console.error('Error:', error);
                                    showCustomAlert('Could not create the sales order.', 'danger-alert',backgroundContainer);
                                    removeButtonLoader(dynamicButton, btn_text);
                                }
                            }
                        } else {
                            console.error('Could not retrieve user information.');
                            dynamicButton.innerHTML = btn_text;
                        }
                    });
                }

                async function saveSalesOrder(formData) {
                    const url = '/api/method/frappe.desk.form.save.savedocs';

                    const options = {
                        method: 'POST',
                        body: formData,
                    };

                    try {
                        const response = await fetchWithCSRF(url, options);

                        return response.json();

                    } catch (error) {
                        console.error('Error saving sales order:', error);
                        throw error;
                    }
                }

                async function gotoCart(words,sales_order_generated) {
                    const [word1, word2] = words;

                    var selectedProduct = await fetchProductPrices(word1,true,word2.toLowerCase());
                    var selectedProductAttributes = await fetchProductAttributes(word1,true,word2.toLowerCase());

                    var selectedProduct = {
                        name: words,
                        price: selectedProduct.price_list_rate,
                        currency: selectedProduct.currency,
                        features: selectedProductAttributes,
                        checkoutLogo: localStorage.getItem('checkout-product-logo'),
                        itemCode: localStorage.getItem('item-code'),
                        sales_order_generated: sales_order_generated
                    }

                    localStorage.setItem('selectedProduct', JSON.stringify(selectedProduct));

                    window.location.href = 'checkout.html';
                }

                async function fetchProductPrices(itemName, singleProduct = false, selectedProduct = 'none', host = 'DO') {
                    const baseUrl = '/api/resource/Item%20Price';
                    const lowercaseItemName = itemName.toLowerCase();
                    const sizes = ['SMALL', 'MEDIUM', 'LARGE'];

                    const fetchPriceForSize = async (size) => {
                        const filters = JSON.stringify([
                            ['item_code', '=', `${lowercaseItemName}-${size}-${host}`],
                            ['selling', '=', 1]
                        ]);
                        const fields = JSON.stringify(['price_list_rate', 'currency']);

                        const response = await fetch(`${baseUrl}?filters=${filters}&fields=${fields}`);
                        const data = await response.json();
                        return data.data;
                    };

                    try {
                        const smallData = await fetchPriceForSize('SMALL');
                        const mediumData = await fetchPriceForSize('MEDIUM');
                        const largeData = await fetchPriceForSize('LARGE');

                        // Function to get the preferred price based on currency priority
                        const getPreferredPrice = (data) => {
                            if (!data || data.length === 0) return null;
                            let price = data.find(item => item.currency === 'ZAR');
                            if (price) return price;
                            price = data.find(item => item.currency === 'EUR');
                            if (price) return price;
                            return data[0];
                        };

                        const smallPrice = getPreferredPrice(smallData);
                        const mediumPrice = getPreferredPrice(mediumData);
                        const largePrice = getPreferredPrice(largeData);

                        if (singleProduct) {
                            if (selectedProduct === 'basic') return smallPrice;
                            if (selectedProduct === 'advanced') return mediumPrice;
                            if (selectedProduct === 'gold') return largePrice;
                        } else {
                            const formatCurrency = (value, currency) => {
                                let formattedValue = value.toLocaleString('en-ZA', {
                                    style: 'currency',
                                    currency: currency,
                                    minimumFractionDigits: value % 1 === 0 ? 0 : 2,
                                    maximumFractionDigits: value % 1 === 0 ? 0 : 2
                                });
                                return formattedValue.length > 10 ? formattedValue.replace(',', '<br>.') : formattedValue;
                            };

                            try {
                                if (smallPrice) {
                                    document.getElementById('pricing-card-price-basic').innerHTML = formatCurrency(smallPrice.price_list_rate, smallPrice.currency);
                                }
                                if (mediumPrice) {
                                    document.getElementById('pricing-card-price-advanced').innerHTML = formatCurrency(mediumPrice.price_list_rate, mediumPrice.currency);
                                }
                                if (largePrice) {
                                    document.getElementById('pricing-card-price-gold').innerHTML = formatCurrency(largePrice.price_list_rate, largePrice.currency);
                                }
                            } catch (e) {
                                console.log(e);
                            }
                        }
                    } catch (error) {
                        console.error('Error fetching product prices:', error);
                    }
                }

                async function fetchProductAttributes(baseName,singleProduct = false,selectedProduct = 'none') {
                    const baseUrl = '/api/resource/Item%20Attribute';
                    const attributeName = `GeoHosting ${baseName} Host Specifications`;

                    try {
                        const response = await fetch(`${baseUrl}/${attributeName}`);
                        const data = await response.json();

                        if (data.data && data.data.item_attribute_values) {
                            // Process attribute values
                            for (let attrValue of data.data.item_attribute_values){

                                if(singleProduct && selectedProduct == 'basic' && attrValue.abbr.toLowerCase() == "small")
                                    return attrValue.attribute_value.split('; ');
                                else if(singleProduct && selectedProduct == 'advanced' && attrValue.abbr.toLowerCase() == "medium")
                                    return attrValue.attribute_value.split('; ');
                                else if(singleProduct && selectedProduct == 'gold' && attrValue.abbr.toLowerCase() == "large")
                                    return attrValue.attribute_value.split('; ');
                                else if(!singleProduct){
                                    var featureListId = '';
                                    if(attrValue.abbr.toLowerCase() == "small")
                                        featureListId = `pricing-card-features-basic`;
                                    else if(attrValue.abbr.toLowerCase() == "medium")
                                        featureListId = `pricing-card-features-advanced`;
                                    else if(attrValue.abbr.toLowerCase() == "large")
                                        featureListId = `pricing-card-features-gold`;
                                    const featureList = document.getElementById(featureListId);
                                    if (featureList) {
                                        const features = attrValue.attribute_value.split('; ');
                                        features.forEach(feature => {
                                            const featureItem = document.createElement('div');
                                            featureItem.className = 'feature-item-pricing';
                                            featureItem.innerHTML = `
                                                <div class="vector-pricing">
                                                    <div class="vector-tick-pricing"></div>
                                                </div>
                                                <div class="feature-text-pricing">${feature}</div>
                                            `;
                                            featureList.appendChild(featureItem);
                                        });
                                    }
                                }
                            }
                        } else {
                            console.error('No data found for the specified attribute name.');
                        }
                    } catch (error) {
                        console.error('Error fetching product attributes:', error);
                    }
                }

                function assignPricingCardValues(product){
                    document.getElementById('pricing-card-logo').src = product.image
                    localStorage.setItem('checkout-product-logo', product.image);
                    localStorage.setItem('item_code', product.name);

                    // headings
                    var dynamicHeader = document.getElementById('pricing-card-heading-basic')
                    dynamicHeader.innerHTML = product.item_name +' Basic';
                    dynamicHeader = document.getElementById('pricing-card-heading-advanced')
                    dynamicHeader.innerHTML = product.item_name +' Advanced';
                    dynamicHeader = document.getElementById('pricing-card-heading-gold')
                    dynamicHeader.innerHTML = product.item_name +' Gold';

                    // buttons
                    var dynamicButton = document.getElementById('pricing-card-button-basic')
                    dynamicButton.innerHTML = 'Get '+ product.item_name +' Basic';
                    dynamicButton = document.getElementById('pricing-card-button-advanced')
                    dynamicButton.innerHTML = 'Get '+ product.item_name +' Advanced';
                    dynamicButton = document.getElementById('pricing-card-button-gold')
                    dynamicButton.innerHTML = 'Get '+ product.item_name +' Gold';

                    // prices
                    fetchProductPrices(product.item_name);

                    // features
                    fetchProductAttributes(product.item_name);
                }


            </script>




    {% endblock %}

    {% include "footer.html" %}
</body>

</html>