<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email Notification</title>
</head>
<body style="font-family: Lato, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 10px 10px 10px 10px;">
        <tr>
            <!-- Left Column: Logo -->
            <td align="left" width="50%" style="padding: 5px 10px;">
                <img src="https://geohosting.dev.do.kartoza.com/static/images/logos/geohosting.svg" alt="Logo" width="100" style="display: block;">
            </td>
            <!-- Right Column: Title or Navigation Links -->
            <td align="right" width="50%" style="padding: 5px 15px; color: #57A0C7; font-family: Helvetica,sans-serif;">
                <h2 style="margin: 0; font-size: 32px;">GeoSpatialHosting</h2>
                <!-- Optional: Add links or other content here -->
            </td>
        </tr>
    </table> 
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 00px; border: 1px solid #dddddd;">
        <tr>
            <td style="padding: 10px 0; text-align: center; background-color: #57A0C7; color: #ffffff;">
                <h2>Verify Your Email</h2>
            </td>
        </tr>
    </table>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 20px; border: 0px solid #dddddd;">
            <tr>
                <td style="padding: 20px;">
                    <p style="font-size: 16px; color: #333333;">
                        Dear User,
                    </p>
                    <p style="font-size: 16px; color: #333333;">
                        To finalise your registration and make sure your account is fully set up, please take a moment to verify your email address. Simply click the button below:
                    </p>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" style="padding: 20px 0;">
                                <a href="[Verify Email]" style="background-color: #57A0C7; color: #ffffff; padding: 15px 50px; text-decoration: none; font-size: 16px; border-radius: 5px;">Verify Email</a>
                            </td>
                        </tr>
                    </table>
                    <p style="font-size: 16px; color: #333333;">
                        If the button doesn’t work, you can also verify by copying and pasting the link below into your browser:
                    </p>
                    <p style="font-size: 16px; color: #333333; font-weight: regular;">
                        <a href="mailto:[Verification Link]" style="color: #57A0C7;">[Verication Link]</a>
                    </p>
                    <p style="font-size: 16px; color: #333333;">
                        If you need any further assistance, feel free to contact us at <a href="mailto:[Support Email]" style="color: #FFA500;">[Support Email]</a>.
                    </p>
                    <p style="font-size: 16px; color: #333333;">
                        Best regards,
                        <br>The GeoSpatialHosting Team
                    </p>
                </td>
                <tr>
                <tr>
                    <td style="padding: 10px; text-align: center; font-size: 12px; color: #999999;">
                        <p>This is an automated message. Please do not reply directly to this email.</p>
                    </td>
                </tr>
            </table>
        </body>
        </html>