<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Product is Ready</title>
</head>
<body style="font-family: Lato, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4; width: 900px">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff; padding: 10px 10px 10px 10px;">
        <tr>
            <!-- Left Column: Logo -->
            <td align="center" style="padding: 5px 10px;">
                {% include "emails/logo.html" %}
            </td>
        </tr>
    </table> 
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff; padding: 0px; border: 1px solid #dddddd;">
        <tr>
            <td style="padding: 10px 0; text-align: center; background-color: #57A0C7; color: #ffffff;">
                <h2>Your Product is Ready!</h2>
            </td>
        </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff; padding: 20px; border: 0px solid #dddddd;">
        <tr>
            <td style="padding: 20px; font-size: 16px; color: #333333;">
                <p>Dear {{ name }},</p>
                <br>
                <p>We would like to inform you that your, <strong>{{ app_name }}</strong> instance, is now ready for you to access.</p>
                
                <p>Please use the following credentials to log in and start using your product:</p>

                <table border="0" cellpadding="5" cellspacing="0" width="100%" style="font-size: 16px; color: #333333; margin-left: 1rem;">
                    <tr>
                        <td style="font-weight: bold; width: 30%;">Username:</td>
                        <td>admin</td>
                    </tr>
                    {% for credential in credentials %}
                        <tr>
                            <td style="font-weight: bold;">{{ credential.key }}:</td>
                            <td>{{ credential.value }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td style="font-weight: bold;">Product URL:</td>
                        <td><a href="{{ url }}" style="color: #2f5c4a;">Access your product here</a></td>
                    </tr>
                </table>

                <p>If you encounter any issues accessing the product, please don't hesitate to reach out to our support team at <a href="mailto:{{ support_email }}" style="color: #FFA500;">{{ support_email }}</a>.</p>

                <p>Thank you for choosing GeoSpatialHosting. We hope you are using your <strong>{{ app_name }}</strong> instance!</p>

                <br>
                <p>Best regards,<br><br>
                The GeoSpatialHosting Team</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px; text-align: center; font-size: 12px; color: #999999;">
                <p>This is an automated message. Please do not reply directly to this email.</p>
            </td>
        </tr>
    </table>
</body>
</html>
