<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Request</title>
</head>
<body style="font-family: Lato, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff; padding: 10px 10px 10px 10px;">
        <tr>
            <!-- Left Column: Logo -->
            <td align="center" style="padding: 5px 10px;">
                {% include "emails/logo.html" %}
            </td>
        </tr>
    </table> 
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 00px; border: 1px solid #dddddd;">
        <tr>
            <td style="padding: 10px 0; text-align: center; background-color: #57A0C7; color: #ffffff;">
                <h2>Reset Your Password</h2>
            </td>
        </tr>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 20px; border: 0px solid #dddddd;">
            <tr>
                <td style="padding: 20px;">
                    <p style="font-size: 16px; color: #333333;">
                        Dear our user,
                    </p>
                    <p style="font-size: 16px; color: #333333;">
                        We received a request to reset the password for your GeoSpatialHosting account. If you made this request, simply click the link below to reset your password:
                    </p>
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" style="padding: 20px 0;">
                                <a href="{{ url }}" style="background-color: #57A0C7; color: #ffffff; padding: 15px 50px; text-decoration: none; font-size: 16px; border-radius: 5px;">Reset Password</a>
                            </td>
                        </tr>
                    </table>
                    <p style="font-size: 16px; color: #333333;">
                        If you didn’t request a password reset, please ignore this email, and your password will remain the same.
                    </p>
                    <p style="font-size: 16px; color: #333333;">
                        If you need any further assistance, feel free to contact us at <a href="mailto:{{ support_email }}" style="color: #FFA500;">{{ support_email }}</a>.
                    </p>
                    <p style="font-size: 16px; color: #333333;">
                        Best regards,
                        <br>The GeoSpatialHosting Team
                    </p>
                </td>
                <tr>
                <tr>
                    <td style="padding: 10px; text-align: center; font-size: 12px; color: #999999;">
                        <p>This is an automated message. Please do not reply directly to this email.</p>
                    </td>
                </tr>
            </table>
        </body>
        </html>