COMPOSE_PROJECT_NAME=geohosting
DJANGO_SETTINGS_MODULE=core.settings.dev
DJANGO_TAG=0.0.1
HTTP_PORT=8080

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com

DATABASE_NAME=django
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_HOST=db
DATABASE_PORT=5432

SENTRY_DSN=
SECRET_KEY=dev

JENKINS_TOKEN=
JENKINS_USER=

REDIS_HOST=redis
REDIS_PASSWORD=redis_password

ERPNEXT_API_KEY=erpnext_api_key
ERPNEXT_API_SECRET=erpnext_api_secret
ERPNEXT_BASE_URL=erpnext_base_url

STRIPE_PUBLISHABLE_KEY=stripe_publishable_key
STRIPE_SECRET_KEY=stripe_secret_key

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
FRONTEND_URL=

# Minio Variables for django default storages
AWS_ACCESS_KEY=aws_access_key
AWS_SECRET_KEY=aws_secret_key
AWS_HOST=http://minio:9000/
AWS_BUCKET_NAME=django
AWS_DIR_PREFIX=dev