        /* Global styles */
        .body, html {
          margin: 0;
          padding: 0;
          width: auto;
          height: 100%;
          overflow-y: auto; /* Add vertical scrollbar when content exceeds viewport */
          font-family: 'Lato', sans-serif; /* use font style */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .background-container {
          position: relative;
          overflow: hidden;
        }

        /* Left background image */
        .background-left {
          position: absolute;
          left: 0;
          top: 0;
          width: 10vw;
          height: 130vh;
          background: url('/static/images/right.svg');
          background-size: cover;
          background-repeat: repeat-y; /* Repeat vertically if content is longer */
          margin-top: 4%;
          z-index: -1;
        }

        /* Right background image */
        .background-right {
          position: absolute;
          right: 0;
          top: 0;
          width: 10vw;
          height: 100vh;
          background: url('/static/images/left.svg');
          background-size: cover;
          background-repeat: repeat-y; /* Repeat vertically if content is longer */
          margin-top: 4%;
          z-index: -1;
        }


        @media screen and (max-width: 768px) {

            .background-left {
                position: absolute;
                left: 0;
                top: 0;
                width: 30vw;
                height: 100vh;
                background: url('/static/images/right.svg');
                background-size: cover;
                background-repeat: repeat-y; /* Repeat vertically if content is longer */
            }

            .background-right {
                position: absolute;
                right: 0;
                top: 0;
                width: 30vw;
                height: 100vh;
                background: url('/static/images/left.svg');
                background-size: cover;
                background-repeat: repeat-y; /* Repeat vertically if content is longer */
            }


        }

        .blur-background {
          filter: blur(1px);
        }



        /* Content styles */
        .content {
          position: relative;
          z-index: 998;
          width: 100%;
          height: auto;
          margin-top: 3%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0px;
          margin-bottom: 3%;
          text-align: center;
          /* border: 3px red solid; */
        }

        /* Logo styles */
        .geohosting-logo {
          height: 200px;
          width: 885px;
          /* border: 3px yellow solid; */
        }

        /* Heading styles */
        .geohosting-heading {
          line-height: 100%;
          /* color: grey; */
          letter-spacing: 0.15px;
          width: 70%;
          margin-top: 4%;
          margin-left: 15%;
          font-family: 'Lato', sans-serif;
          font-size: 48px;
          /* border: solid 3px orange; */
        }


        .products-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          width: 90%;
          overflow-y: auto;
          margin-top: 4%;
          margin-left: 5.5%;
          /* border: 3px solid gray; */
        }

        .product {
          width: calc(23.33% - 40px);
          background-color: #ECECEC;
          border-radius: 20px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          text-align: center;
          position: relative;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;

          /* border: 5px solid black; */
        }

        .product img {
          width: 15vh;
          height: auto;
        }

        .product h2 {
          font-size: 20px;
          color: #333;
        }

        .product p {
          font-size: 16px;
          color: #3E3E3E;
        }

        .product .learn-more-button {
          background-color: #ECB44B;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
          position: relative;
          width: 224px;
          height: 54px;
          padding: 8px 16px;
          font-family: 'Lato' ,sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
      }

      .product .learn-more-button:hover {
          background-color: #57A0C7;
      }

      .product .learn-more-button.active {
          background-color: #57A0C7;
      }

      .product .learn-more-button.disabled {
          background-color: #ECB44B;
          cursor: not-allowed;
          opacity: 0.7;
      }


        .description {
          height:auto;
          width:100%;
          /* border:5px solid purple; */
        }

        .h1 {
          font-size: 24px;
          color: #333;
        }

        @media screen and (max-width: 768px) {
          .content {
            font-size: 16px; /* Decrease font size for smaller screens */
            height: auto;
            overflow: auto;
            margin-top: 5%;
            z-index: 998;
          }


        }

        @media (max-width: 768px) {
        .container {
          width: auto;
          height: auto;
          overflow-y: auto;
          padding-left: 0px;
        }

        .geohosting-heading {
          width: 90%;
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 18px;
          margin-left: 3%;
        }

        .geohosting-logo {
          height: auto;
          width: 350px;
        }

        .description {
          height:auto;
        }



        .product {
          width: 80%;
          height: 50vh;
        }

        .products-container {
          flex-wrap: wrap;
          overflow-x: auto;
          overflow-y: auto;
          width: auto;
          height: auto;
          padding: 10px;
          margin-left: 0%;
        }
      }


      #scrollToTopBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        background-color: #ECB44B;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
    }



    .loader {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      margin: 0 auto;
  }

  .btn_loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }



  #backgroundContainer.blur {
    filter: blur(5px);
  }


  /* system alerts */
  .alert {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    max-width: 80%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
  }


  .close {
      position: absolute;
      width: 30px;
      height: 30px;
      opacity: 0.5;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      right: 15px;
      top: 25px;
      text-align: center;
      font-size: 1.6em;
      cursor: pointer;
  }

  .simple-alert {
      background-color: #ebebeb;
      border-left: 5px solid #c5c5c5;
  }

  .simple-alert .close {
      border-color: #c5c5c5;
      color: #c5c5c5;
  }

  .success-alert {
      background-color: #ECECEC;
      border-left: 5px solid #57A0C7;
  }

  .success-alert .close {
      border-color: #57A0C7;
      color: #57A0C7;
  }

  .danger-alert {
      background-color: #f7a7a3;
      border-left: 5px solid #e5726d;
  }

  .danger-alert .close {
      border-color: #e5726d;
      color: #e5726d;
  }

  .warning-alert {
      background-color: #ffd48a;
      border-left: 5px solid #f0bc5e;
  }

  .warning-alert .close {
      border-color: #f0bc5e;
      color: #f0bc5e;
  }


  /* overlay on overview cards */
  .overlay, .overlay-white {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 85%;
    margin-top: 10px;
  }

.overlay-loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 10%;
  left: 65%;
}

.overlay-loader-white {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 33%;
  left: 28%;
}

.visible {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fully-visible {
  opacity: 1;
}